.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.tag {
  border-radius: 5px;
  padding: 0.1rem 0.3rem;
  font-weight: bold;
  text-align: center;
}

.tag.green {
  background-color: #1b5e20;
  color: white;
}

.tag.orange {
  background-color: #f57f17;
  color: white;
}

.tag.red {
  background-color: #7f0000;
  color: white;
}

.side-line {
  transition: all ease-in-out 0.25s;
}

.side-line:hover {
  background-color: rgb(191, 191, 191);
}
